@media only screen and (max-width: 767px) {
    #pic {
        display: none;
    }
}

@font-face {
    font-family: 'Eras Light ITC';
    font-style: normal;
    font-weight: normal;
    src: local('Eras Light ITC'), url('../font/ERASLGHT.woff') format('woff');
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.slideLeft {
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

.slideRight {
    animation: 0.7s ease-out 0s 1 slideInFromRight;
}

.scroll {
    text-align: center;
}

body {
    position: relative !important;
    font-family: 'Eras Light ITC';
    background-color: #333;
    color: #fff;
    margin-top:70px;
}
section{
    min-height: calc(100vh  - 70px);
}

.orange {
    color: #ff9c00 !important;
}

.logo {
    font-family: 'Eras Light ITC';
    font-size: 30px;
}

.navbar-dark .navbar-toggler {
    border-color: #ff9c00;
}

.dark {
    background-color: #333 !important;
}

.nav-item a {
    font-size: 23px;
}

.nav-link:hover {
    transition: 0.3s;
    color: #ff9c00 !important;
}

.blender:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

.arr:hover {
    cursor: pointer !important;
}
.technologies{
    background: #5f5f5f;
    height:200px;
}
.skill{
    justify-content: left;
    display:flex;
}
.visit a{
    text-decoration: none;
    color:#ff9c00;
}
#skills{
background-color: #292929
}
.row{
    margin-left:0 !important;
    margin-right:0 !important;
}
#contact{
    min-height:300px;
}